body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../Images/bg_bubbles.png);
    background-size: cover;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-intro, #game-end {
    text-align: center;
}

#game-intro img.logo-img, #game-end img.logo-img {
    width: 300px;
    margin-bottom: 20px;
}

#start-button {
    padding: 16px 40px;
    font-size: 24px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 32px;
}

#start-button:hover {
    background-color: #575757;
}

#restart-button {
    padding: 16px 40px;
    font-size: 24px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #28a745;
}

.text-intro{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.game-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url(../Images/bg-sea.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1920px 0;
    }
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#player {
    position: absolute;
    bottom: 50%;
    left: 50px;
    width: 200px;
    height: 130px;
    background-image: url(../Images/diver.png);
    background-size: cover;
}

.obstacle {
    background-image: url(../Images/shark.png);
    background-size: cover;
    position: absolute;
    width: 150px;
    height: 90px;
}

.bottle {
    background-image: url(../Images/plastic-bottle.png);
    background-size: cover;
    position: absolute;
    width: 70px;
    height: 36px;
}

.oxygen {
    background-image: url(../Images/oxygen.png);
    background-size: cover;
    position: absolute;
    width: 36px;
    height: 110px;
}

#life-bar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 20px;
    border: 2px solid #000;
    background-color: #ccc;
}

#life-fill {
    width: 100%;
    height: 100%;
    background-color: #28a745;
}

#lives {
    position: absolute;
    top: 40px;
    left: 10px;
    display: flex;
    gap: 5px;
}

#lives .life {
    width: 30px;
    height: 30px;
    background-image: url(../Images/heart.png);
    background-size: cover;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffffff;
    background-color: #030341;
    padding: 8px 16px;
    border-radius: 5px;
}

.hidden {
    display: none;
}


#instructions-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#instructions-modal.show {
    display: flex;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 460px;
    width: 90%;
    box-shadow: 0 5px 15px #0000004d;
    text-align: center;
}

.modal-content >h2 {
    text-align: center;
}


#instructions-button{
    padding: 16px 40px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border-color:#333333 solid;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 32px;
}

#instructions-button:hover {
    background-color: #333333;
}


#close-instructions{
    padding: 10px 24px;
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    border-color: #333333  ;
    border-radius: 4px;
    cursor: pointer;
    margin: 24px;
    font-size: 14px;   
}
