body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEEB;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-intro, #game-end {
    text-align: center;
}

#game-intro img.logo-img, #game-end img.logo-img {
    width: 150px;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #12339c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #00165e;
}

#restart-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #218838;
}

.game-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url(../images/background-sea.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1920px 0;
    }
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#player {
    position: absolute;
    bottom: 50%;
    left: 50px;
    width: 210px;
    height: 140px;
    background-image: url(../images/diver.png);
    background-size: cover;
}

.obstacle {
    background-image: url(../images/shark.png);
    background-size: cover;
    position: absolute;
    width: 120px;
    height: 80px;
}

.bottle {
    background-image: url(../images/plastic-bottle.png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 40px;
}

.oxygen {
    background-image: url(../images/oxygen.png);
    background-size: cover;
    position: absolute;
    width: 40px;
    height: 120px;
}

#life-bar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 20px;
    border: 2px solid #000;
    background-color: #ccc;
}

#life-fill {
    width: 100%;
    height: 100%;
    background-color: #28a745;
}

#lives {
    position: absolute;
    top: 40px;
    left: 10px;
    display: flex;
    gap: 5px;
}

#lives .life {
    width: 30px;
    height: 30px;
    background-image: url(../images/heart.png);
    background-size: cover;
}

